# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here
print("Data","Science","Mentorship","Program",sep= "-" , end ="-started-")
print("By","CampusX",sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here

cel = float(input("enter the  temp in celcius "))

far = cel * (9/5) +32

print(far)

enter the  temp in celcius 32
89.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here

# a,b =b,a (simple in python)

a= int(input("enter the value "))
b= int(input("enter the value "))

temp = a
a = b
b= temp

print(a,b)

enter the value 2
enter the value 3
3 2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here
x1= int(input("enter the value of 1st cooridante X1 "))
y1= int(input("enter the value 1st cooridante y1 "))
x2= int(input("enter the value 2nd  cooridante X2 "))
y2= int(input("enter the value 2nd cooridante  y2 "))


distance = ((x2-x1)**2 + (y2-y1)**2)**0.5

print(distance)

enter the value of 1st cooridante X1 2
enter the value 1st cooridante y1 3
enter the value 2nd  cooridante X2 4
enter the value 2nd cooridante  y2 9
6.324555320336759

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here

p = 10000
t = 2
r = 8.95

interest = (p*t*r)/100
print(interest )

1790.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here

n= int(input("enter the value of n"))

sum = n*(n+1)*(2*n+1)/6
print(sum)

enter the value of n5
55.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here
a = int(input("enter the number "))
b = int(input("enter the number "))

n= int(input("enter the value of n"))

d = b-a

output= a+(n-1)*d
print(output)

enter the number 2
enter the number 5
enter the value of n7
20

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here
a= 2
b= 3
c= 4
d= 5

num = a*d + b*c
deno = b*d

print("{}/{}".format(num,deno))

22/15

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
import math
H= 20
L= 20
B= 20

h= 3
r= 1

vol_tank = H*L*B
vol_glass = 3.14*h*r

print("no of glasss",math.floor(vol_tank/vol_glass))

no of glasss 849